<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="GUI.Properties.Settings.SanIsidroDBConnectionString"
            connectionString="Data Source=DESKTOP-H56SQ3P\SQLEXPRESS02;Initial Catalog=SanIsidroDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ServiceVentasSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:51043/ServiceVentas.asmx"
                binding="basicHttpBinding" bindingConfiguration="ServiceVentasSoap"
                contract="ServiceVenta.ServiceVentasSoap" name="ServiceVentasSoap" />
        </client>
    </system.serviceModel>
</configuration>